<div class="col-md-8">

  <h2><%= @blog.title %></h2>

  <% if logged_in?(:site_admin) %>
    <p>
      <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
      <%= button_to "Delete this blog", @blog, method: :delete, class: 'btn btn-danger' %>
    </p>
  <% end %>

  <p>
    <%= @blog.body %>
  </p>

  <% unless current_user.is_a? GuestUser %>
    <%= form_with(model: @comment, url: '#') do |f| %>
      <div class='form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>

      <div class='form-group'>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>

  <%= render @blog.comments %>

  <div>
    <%= link_to "Back to blogs", blogs_path %>
  </div>
</div>
