<div class="col-md-8">

  <h2><%= @blog.title %></h2>

  <% if logged_in?(:site_admin) %>
    <p>
      <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
      <%= button_to "Delete this blog", @blog, method: :delete, class: 'btn btn-danger' %>
    </p>
  <% end %>

  <p>
    <%= @blog.body %>
  </p>

  <div>
    <%= link_to "Back to blogs", blogs_path %>
  </div>
</div>
