<div class='col-md-8'>
    <h1><%= @topic.title %></h1>

    <%= paginate @blogs %>

    <%= render @blogs %>

    <%= paginate @blogs %>

    <div class='my-5'>
        <%= link_to "Back to blogs", blogs_path %> /
        <%= link_to "Back to topics", topics_path %>
    </div>
</div>
