<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="py-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">
                These are some of the topics I've been working on recently. I hope you find them interesting. Comments are live, so feel free to leave your thoughts.
            </p>
        </div>

        <div class='sidebar-module'>
            <%= source_helper("alert alert-info") %>
        </div>

        <div class='sidebar-module'>
            <h4>Topics</h4>
            <% @side_bar_topics.each do |topic| %>
                <p><%= link_to topic.title, topic_path(topic), class: 'sidebar-topic-link' %></p>
            <% end %>
        </div>

        <div class="py-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled social-links">
                <li><a href="https://github.com/Uthaeus"><%= fa_icon "github" %></a></li>
                <li><a href="https://twitter.com/mjkisproblyagod"><%= fa_icon "twitter" %></a></li>
                <li><a href="https://www.facebook.com/roman.lavery"><%= fa_icon "facebook" %></a></li>
                <li><a href="https://www.linkedin.com/in/roman-lavery-software-dev/"><%= fa_icon "linkedin" %></a></li>
            </ol>
        </div>
    </div>
</div>