 <header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>Socials</h4>
                    <p class="text-body-secondary">Come say hi or see what I've been up to.</p>
                    <p class='portfolio-social-nav-links'>
                        <a href="#"><%= fa_icon "github" %></a>
                        <a href="#"><%= fa_icon "twitter" %></a>
                        <a href="#"><%= fa_icon "facebook" %></a>
                        <a href="#"><%= fa_icon "linkedin" %></a>
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Explore</h4>
                    <ul class="list-unstyled">
                        <%= nav_helper "nav-link fw-bold py-1 px-0", "li" %>
                        <li><%= login_helper "nav-link fw-bold py-1 px-0" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <h4 class="navbar-brand d-flex align-items-center">Homer J.</h4>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
