<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex min-vh-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= render "shared/application_nav" %>

      <%= login_helper %>
      
      <%= yield %>

      <footer class="mt-auto text-white-50">
        <%= copyright_generator %>
        <%= source_helper("application") %>
      </footer>
    </div>
  </body>
</html>
